<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/PageLayout.html :: head('Posts')}"></head>
<body>

<nav th:replace="~{fragments/PageLayout.html :: navbar}"></nav>

<!-- Carousel Container -->
<div class="container-fluid mt-1 no-margin p-xl-0" >
  <div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../static/assets/img/carousel/mustang.jpg" th:src="@{/assets/img/carousel/mustang.jpg}" alt="Mustang" class="d-block w-100 custom-carousel-img">
      </div>
      <div class="carousel-item">
        <img src="../static/assets/img/carousel/bmw.jpg" th:src="@{/assets/img/carousel/bmw.jpg}" alt="BMW" class="d-block w-100 custom-carousel-img">
      </div>
      <div class="carousel-item">
        <img src="../static/assets/img/carousel/mercedes.jpg" th:src="@{/assets/img/carousel/mercedes.jpg}" alt="Mercedes" class="d-block w-100 custom-carousel-img">
      </div>
    </div>


    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</div>




<section class="container">
  <h1 class="mb-4 text-center">Forum Posts</h1>

  <article class="row justify-content-center">
    <div class="col-md-10">
      <div th:each="post : ${posts}" class="card mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" th:text="${post.title}">Post Title</h5>
            <p class="card-text" th:text="${post.content}">Post Content</p>
            <div class="mt-auto d-flex justify-content-between">
              <a href="#" th:href="@{/posts/{id}(id=${post.id})}" class="btn btn-primary">Read More</a>
              <a th:if="${user != null and (user.isAdmin() or post.getCreatedBy().getId() == user.getId())}"
                 class="btn btn-primary"
                 th:href="@{/post/update/{id} (id=${post.id})}">
                Update
              </a>
              <a th:if="${user != null and (user.isAdmin() or post.getCreatedBy().getId() == user.getId())}"
                 class="btn btn-danger"
                 th:href="@{/post/delete/{id}(id=${post.getId()})}">
                Delete
              </a>
              <small class="text-muted">Posted on: <span th:text="${post.timestamp}"></span></small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <!-- Pagination Controls -->
  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
        <a class="page-link" th:href="@{/posts(page=${currentPage - 1}, size=5)}">Previous</a>
      </li>
      <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
          th:classappend="${i == currentPage} ? 'active'">
        <a class="page-link" th:href="@{/posts(page=${i}, size=5)}" th:text="${i + 1}">1</a>
      </li>
      <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
        <a class="page-link" th:href="@{/posts(page=${currentPage + 1}, size=5)}">Next</a>
      </li>
    </ul>
  </nav>
</section>

<footer th:replace="~{fragments/PageLayout.html :: footer}"></footer>
<div th:replace="~{/fragments/PageLayout.html :: scripts}"></div>
</body>
</html>