<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/PageLayout.html :: head('Posts')}"></head>
<body>

<nav th:replace="~{fragments/PageLayout.html :: navbar}"></nav>

<section class="container mt-5">
    <div class="masthead vh-100 justify-content-center">
        <div class="container d-flex align-items-center flex-column">
            <h2 class="page-title" th:text="${post.getTitle()}">Post Title</h2>
            <label class="fieldName" th:text="#{post.content}">Content</label>

            <div class="content-box">
                <br/>
                <p th:text="${post.content}">Content</p>
                <br/><br/>
            </div>


            <form th:action="@{/posts/{id}/like(id=${post.id})}" method="post">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-thumbs-up" th:classappend="${post.getLikes().contains(user) ? 'text-success' : ''}"></i>
                    <span th:text="${post.getLikesSize()}"></span>
                </button>
            </form>

            <h3>Comments</h3>
            <div class="comments-section">
                <div th:each="comment : ${comments}" class="comment-box">
                    <div class="comment-content">
                        <p class="comment-text" th:text="${comment.content}">Comment</p>
                    </div>
                    <div class="comment-author">
                        <p><strong th:text="${comment.createdBy.username}">Username</strong></p>
                    </div>
                    <div class="comment-box">
                        <a th:if="${comment.getCreatedBy().getId() == (user.getId())}" class="btn btn-primary me-4"
                           th:href="@{/posts/{id}/comment/update/{commentId} (id=${post.id}, commentId=${comment.id})}">
                            Update
                        </a>
                        <a th:if="${user.isAdmin() || post.getCreatedBy().getId() == (user.getId()) ||
                        comment.createdBy.getId() == (user.getId())}"
                           class="btn btn-danger" th:href="@{/posts/{id}/comment/delete/{commentId} (id=${post.id},
                           commentId=${comment.id})}">
                            Delete
                        </a>
                    </div>
                </div>
            </div>

            <div class="mt-auto d-flex justify-content-between">

                <a th:if="${isAuthenticated}" class="btn btn-primary me-4" th:href="@{/posts/{id}/comment
                (id=${post.id})}">Comment</a>

                <a th:if="${user.isAdmin() || post.getCreatedBy().getId() == (user.getId())}"
                   class="btn btn-primary me-4" th:href="@{/posts/update/{id} (id=${post.id})}">
                    Update
                </a>

                <a th:if="${user.isAdmin() || post.getCreatedBy().getId() == (user.getId())}"
                   class="btn btn-danger" th:href="@{/posts/delete/{id} (id=${post.getId()})}">
                    Delete
                </a>
            </div>
        </div>
    </div>
</section>


</body>
</html>