<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/PageLayout.html :: head('Posts')}"></head>
<body>

<nav th:replace="~{fragments/PageLayout.html :: navbar}"></nav>

<section class="container mt-5">
    <div class="masthead vh-100 justify-content-center">
        <div class="container d-flex align-items-center flex-column">
            <h2 class="page-title" th:text="${post.getTitle()}">Post Title</h2>
            <label class="fieldName" th:text="#{post.content}">Content</label>

            <div class="content-box">
                <br/>
                <p th:text="${post.content}">Content</p>
                <br/><br/>
            </div>
            <a th:if="${user.isAdmin() || post.getCreatedBy().getId() == (user.getId())}"
               class="btn btn-danger" th:href="@{/posts/delete/{id} (id=${post.getId()})}">
                Delete
            </a>
        </div>
    </div>
</section>

<!--    <a th:if="${user.isAdmin() || post.getCreatedBy().getId() == (user.getId())}"-->
<!--       class="btn-primary" th:href="@{/post/{id}/update (id=${beer.getId()})}">-->
<!--        Update-->
<!--    </a>-->



</body>
</html>